
{{define "main.tmpl"}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {{ .title }}
    </title>
</head>
<body>
    李安是位很厉害的导演！<br/>
    张学友：如果这都不算爱！
</body>
</html>


{{end}}